* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

body {
    font-family: "Montserrat", sans-serif;
}

.center {
    padding-left: calc(50% - 600px);
    padding-right: calc(50% - 600px);
}

.text {
    font-weight: 300;
    font-size: 18px;
    line-height: 32px;
    color: #FFFFFF;
    padding-top: 32px;
}

.button {
    margin-top: 44px;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    background: #9C0332;
    ;
    border-radius: 30px;
    width: 234px;
    height: 48px;

    &:hover {
        cursor: url("image/Vector.svg"), auto;
    }
}

.search {
    font-weight: bold;
}

.heading {
    font-weight: 700;
    font-size: 48px;
    line-height: 59px;
    color: #FFFFFF;
}

.top {
    height: 1024px;
    background-image: url(image/top-background.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    &__tittle {
        font-weight: 700;
        font-size: 64px;
        line-height: 78px;
        color: #FFFFFF;
        padding-top: 218px;
    }
}

.games {
    background-image: url(image/games-backgraund.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
    padding-top: 128px;
    padding-bottom: 128px;

    &__item1 {
        width: 378px;
        height: 300px;
        background-image: url(image/game1.jpg);
        border-radius: 16px;

        &:hover {
            cursor: url(image/Vector.svg), auto;
            border: 1px solid #44D2FF;
            border-radius: 18px;
        }
    }

    &__item2 {
        width: 378px;
        height: 300px;
        background-image: url(image/game2.jpg);
        border-radius: 16px;

        &:hover {
            cursor: url(image/Vector.svg), auto;
            border: 1px solid #44D2FF;
            border-radius: 18px;
        }
    }

    &__item3 {
        width: 378px;
        height: 300px;
        background-image: url(image/game3.jpg);
        border-radius: 16px;

        &:hover {
            cursor: url(image/Vector.svg), auto;
            border: 1px solid #44D2FF;
            border-radius: 18px;
        }
    }

    &__link {
        display: flex;
        font-style: normal;
        font-weight: 600;
        font-size: 24px;
        line-height: 32px;
        color: #FFFFFF;
        margin-left: 32px;
        margin-top: 236px;
        align-items: end;

        &:hover {
            cursor: url(image/Vector.svg), auto;
        }
    }
}

.game1 {
    background-image: url(image/game1-background.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    &__description {
        margin-top: 276px;
        margin-bottom: 276px;
    }

    &__img {
        margin-top: 234px;
        margin-bottom: 234px;
    }
}

.game2 {
    background-image: url(image/game2-backgraund.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    &__img {
        margin-top: 240px;
        margin-bottom: 240px;
    }

    &__description {
        margin-top: 282px;
        margin-bottom: 282px;
    }

}

.game3 {
    background-image: url(image/game3-backgraund.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;

    &__description {
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;
        margin-top: 276px;
        margin-bottom: 282px;
    }

    &__search {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
}

.footer {
    background-image: url(image/footer-backgraund.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;

    &__text {
        font-weight: 400;
        font-size: 12px;
        line-height: 15px;
        color: #FFFFFF;
        padding-top: 32px;
        padding-bottom: 32px;
    }
}

@import 'mobile';